@model MyPersonalWeb.Web.Models.TeamViewModel

@{
    ViewData["Title"] = "Crear Equipos";
}

<h2>Crear Equipos</h2>

<h4>Equipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTeam" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LeagueId" />

            <div class="form-group">
                <label asp-for="League.Name" class="control-label"></label>
                @Html.TextBoxFor(model => model.LeagueName, new { @class = "form-control", @readonly = "readonly" })
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.LeagueId" class="btn btn-success">Regresar a la Liga</a>
            </div>
        </form>
    </div>
</div>

